/*body {
    background-color: rgb(141, 141, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

h3 {
    color:rgb(199, 199, 199);
}
p {
    color: yellow;
}

li {
    color: rgb(7, 213, 7);
    font-size: 25px;
}

.tier1 {
    color: yellow;
}

.tier2 {
    color: rgb(255, 0, 255);
}

.tier3 {
    color: aqua;
}

#best {
    font-weight:bolder;
    font-size: 35px;
    color:burlywood;    /* Change Color *
}

#worst {
    font-weight: lighter; /* Add weight to font *
    font-size: 10px;    /* Increase Size *
}

div {
    border: 1px solid black; /* Create border *
    width: 400px;
    padding: 100px;           /* Add spacing inside *
    margin: auto;             /* Add spacing around *
}

/* Advance Selecting *
div > p {
    color:white;
    font-size: 25px;
}

img {
    height: 300px;
    width: 300px;
}

#mewtwo {
    background-color: purple;
}

#link {
    background-color: green;
}

#mario {
    background-color: red;
} */
body {
    background-color: rgb(0,0,0);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(255, 247, 92);
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

li {
    color: white;
}

p {
    color: white;
}

div {
    border:2px solid rgb(8, 103, 255);
    width: 200px;
    padding: 5px;           
    margin-left: auto;
    margin-right: auto; 
}

#Topic {
    border:2px solid rgb(69, 138, 249);
    width: 90%;
    padding: 5px;           
    background: rgb(69, 138, 249);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
#box1 {
    width: 99%;
	background: rgb(195, 247, 147);
	border-radius: 25px;
    border:2px solid rgb(255, 251, 0)
}
#box2 {
    width: 99%;
	background: rgb(250, 227, 124);
	border-radius: 25px;
    border:2px solid rgb(255, 251, 0)
}
#box3 {
    width: 99%;
	background: rgb(147, 215, 247);
	border-radius: 25px;
    border:2px solid rgb(255, 251, 0)
}